{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row["SUM(shares)"] }}</td>
                    <td>{{ (lookup(row.symbol)["price"]) | usd }}</td>
                    <td>{{ (row["SUM(shares)"] * lookup(row.symbol)["price"]) | usd }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${{ balancee[0].cash | usd }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${{ total | usd }}</td>
                </tr>
        </tbody>
    </table>
{% endblock %}